<!DOCTYPE html>
<html lang="es" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="profile" content=" ">
    <meta name="copyright" content=" ">
    <meta name="description" content="Foro de noticias a nivel global con la información mas precisa en tiempo real.">
    <meta name="keywords" content="foro, noticias, clima, tiempo">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bulletin Room</title>
</head>

<body>
    <footer class="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-2">
                        <div class="footer-top__logo-wrapper">
                            <a class="brand-logo brand-logo--footer" href="/" rel="follow">
                                <img src="/css-custom/326/images/logo-c5n.svg"
                                    data-td-src-property="/css-custom/326/images/logo-c5n.svg" alt="C5N" width="97"
                                    height="36"></a>
                            <p>Olleros 3551, C.A.B.A.<br>Buenos Aires, Argentina</p>
                        </div>

                        <div class="footer__apps">
                            <h5>Descargate la APP de C5N</h5>
                            <div class="footer__apps-logos"> <a
                                    href="https://play.google.com/store/apps/details?id=com.c5n.app" target="_blank">
                                    <img src="/css-custom/326/images/google-play.png"
                                        data-td-src-property="/css-custom/326/images/google-play.png"
                                        class="atv-playstore-logo" width="140" height="44" alt="playstore" title="C5N">
                                </a> <a href="https://apps.apple.com/ar/app/c5n-noticias/id1472895366" target="_blank">
                                    <img src="/css-custom/326/images/apple-store.png"
                                        data-td-src-property="/css-custom/326/images/apple-store.png"
                                        class="atv-appstore-logo" width="140" height="44" alt="appstore" title="C5N">
                                </a></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <header class="standard-header">
                            <p class="standard-header__title">Secciones</p>
                        </header>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="footer-top__links-wrapper">
                                    <nav class="footer-nav">
                                        <ul class="footer-nav__pages">
                                            <li class="footer-nav__page-link">
                                                <a href="https://www.c5n.com/politica" target="" title="C5N | Política"
                                                    alt="C5N | Política">Política</a></li>
                                            <li class="footer-nav__page-link"> <a href="https://www.c5n.com/sociedad"
                                                    target="" title="C5N | Sociedad" alt="C5N | Sociedad">Sociedad</a>
                                            </li>
                                            <li class="footer-nav__page-link"> <a href="https://www.c5n.com/economia"
                                                    target="" title="C5N | Economía" alt="C5N | Economía">Economía</a>
                                            </li>
                                            <li class="footer-nav__page-link"> <a href="/opinion" target=""
                                                    title="C5N | Enfoque" alt="C5N | Enfoque">Enfoque</a></li>
                                            <li class="footer-nav__page-link"> <a href="https://www.c5n.com/deportes"
                                                    target="" title="C5N | Deportes" alt="C5N | Deportes">Deportes</a>
                                            </li>
                                            <li class="footer-nav__page-link"> <a href="https://www.c5n.com/astrologia"
                                                    target="" title="C5N | Astrología" alt="C5N | Astrología">Astrología
                                                </a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="footer-top__links-wrapper">
                                    <nav class="footer-nav">
                                        <ul class="footer-nav__pages">
                                            <li class="footer-nav__page-link">
                                                <a href="https://www.c5n.com/lifestyle" target=""
                                                    title="C5N | Lifestyle" alt="C5N | Lifestyle">Lifestyle</a></li>
                                            <li class="footer-nav__page-link"> <a href="https://www.c5n.com/autos"
                                                    target="" title="C5N | C5N Autos" alt="C5N | C5N Autos">C5N
                                                    Autos</a></li>
                                            <li class="footer-nav__page-link"> <a href="https://www.c5n.com/tecnologia"
                                                    target="" title="C5N | Tecnología"
                                                    alt="C5N | Tecnología">Tecnología</a></li>
                                            <li class="footer-nav__page-link"> <a href="https://www.c5n.com/ratingcero"
                                                    target="" title="C5N | RatingCero"
                                                    alt="C5N | RatingCero">RatingCero</a></li>
                                            <li class="footer-nav__page-link"> <a href="https://www.c5n.com/mundo"
                                                    target="" title="C5N | Mundo" alt="C5N | Mundo">Mundo</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <!--[IF@params(MÁS INFORMACIÓN,)]-->
                        <!--[ELSE IF]-->
                        <header class="standard-header">
                            <p class="standard-header__title">MÁS INFORMACIÓN</p>
                        </header>
                        <!--[END IF]-->
                        <div class="footer-top__links-wrapper">
                            <nav class="footer-nav">
                                <ul class="footer-nav__pages">
                                    <li class="footer-nav__page-link"> <a href="https://www.c5n.com/mediakit.html"
                                            target="" title="C5N | Mediakit" alt="C5N | Mediakit">Mediakit</a></li>
                                    <li class="footer-nav__page-link"> <a
                                            href="https://www.c5n.com/terminos-y-condiciones" target=""
                                            title="C5N | Términos y condiciones"
                                            alt="C5N | Términos y condiciones">Términos y condiciones</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="footer-social">
                            <header class="standard-header">
                                <p class="standard-header__title">SEGUINOS</p>
                            </header>
                            <ul class="footer-social-links">
                                <li class="footer-social-links__item"> <a href="https://www.facebook.com/C5N.Noticias/"
                                        target="" title="C5N | facebook.com/c5n" alt="C5N | facebook.com/c5n"
                                        class="footer-social-links__link" rel="noopener noreferrer nofollow">
                                        <i class="share-buttons__icon share-buttons__icon--font-color-primary"></i></a>
                                </li>
                                <li class="footer-social-links__item"> <a href="https://twitter.com/c5n" target=""
                                        title="C5N | twitter.com/c5n" alt="C5N | twitter.com/c5n"
                                        class="footer-social-links__link" rel="noopener noreferrer nofollow">
                                        <i class="share-buttons__icon share-buttons__icon--font-color-primary"></i> </a>
                                </li>
                                <li class="footer-social-links__item"> <a href="https://www.instagram.com/c5n" target=""
                                        title="C5N | instagram.com/c5n" alt="C5N | instagram.com/c5n"
                                        class="footer-social-links__link" rel="noopener noreferrer nofollow">
                                        <i class="share-buttons__icon share-buttons__icon--font-color-primary"></i></a>
                                </li>
                                <li class="footer-social-links__item"> <a href="https://www.youtube.com/user/c5n"
                                        target="" title="C5N | youtube.com/c5n" alt="C5N | youtube.com/c5n"
                                        class="footer-social-links__link" rel="noopener noreferrer nofollow">
                                        <i class="share-buttons__icon share-buttons__icon--font-color-primary"></i> </a>
                                </li>
                                <li class="footer-social-links__item"> <a
                                        href="https://www.whatsapp.com/channel/0029Va9G3fGCsU9HXMuRZH3w" target="_blank"
                                        title="C5N | Whatsapp" alt="C5N | Whatsapp" class="footer-social-links__link"
                                        rel="noopener noreferrer nofollow">
                                        <i class="share-buttons__icon share-buttons__icon--font-color-primary"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__copyright-wrapper">
                <div class="footer-copyright">
                    <div class="nro-edition"> Edición Nº 1010</div>
                    <p>Director periodístico: Guillermo Gammacurta - TELEPIU S.A. |© 2021 C5N.com - Dirección Nacional
                        del Derecho de Autor DNDA Legajo N°: RL-2024-31679423-APN-DNDA#MJ - Todos los derechos
                        reservados.</p>
                </div>
            </div>
            <div class="footer-bottom__author-wrapper"> <a href="http://www.dosalcubo.com" target="_blank"
                    alt="Enlace al Sitio de Dos Al Cubo" title="Dos Al Cubo ©">
                    <img src="/css-custom/326/images/powerbydosalcubo_BLANCO.svg"
                        data-td-src-property="/css-custom/326/images/powerbydosalcubo_BLANCO.svg" alt="Dos Al Cubo"
                        width="126" height="28"></a> </div>
        </div>
    </footer>
</body>

</html>