<!DOCTYPE html>
<html lang="es" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="profile" content=" ">
    <meta name="copyright" content=" ">
    <meta name="description" content="Foro de noticias a nivel global con la información mas precisa en tiempo real.">
    <meta name="keywords" content="foro, noticias, clima, tiempo">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bulletin Room</title>
</head>

<body>
        <div class="header-sticky" style="top: 50px;">
            <div class="main-header">
                <div class="col-1">
                    <!-- { [REGION WIDGET] Header REGION1 -Menú Lateral- -->
                    <!-- { [OBJETO] Desktop / Header, Menú Oculto -->
                    <!-- header__hidden-nav.html -->
                    <div class="hidden-nav">
                        <input type="checkbox" name="toggle-menu" id="menuToggler" class="d-none"> <label
                            class="hidden-nav__menu-toggler" for="menuToggler"
                            data-td-script-src="https://www.c5n.com/js-custom/326/toggler-min-version-1723435461.js">
                            <span class="hidden-nav__bar"></span> <span class="hidden-nav__bar"></span> <span
                                class="hidden-nav__bar"></span></label>
                        <div class="hidden-nav__wrapper">
                            <header>
                                <div class="hidden-nav__menu-header row">
                                    <div class="hidden-nav__menu-logo col-7"> <img
                                            src="https://www.c5n.com/css-custom/326/lazy.svg"
                                            data-td-src-property="/css-custom/326/images/logo-c5n.svg" alt="logo"
                                            class="img-fluid logo-dark" width="78px" height="24px"> <img
                                            src="https://www.c5n.com/css-custom/326/lazy.svg"
                                            data-td-src-property="/css-custom/326/images/logo-c5n-light.svg" alt="logo"
                                            class="img-fluid logo-light" width="78px" height="24px"> </div>
                                    <!-- <div class="col-5 hidden-nav__menu-mode">
                       <button id="toggler-theme">
                           <img src="https://www.c5n.com/css-custom/326/lazy.svg" data-td-src-property="/css-custom/326/images/dark.svg"  alt="Light mode switch" class="dark-toggler" width="52" height="27"> 
                           <img src="https://www.c5n.com/css-custom/326/lazy.svg" data-td-src-property="/css-custom/326/images/light.svg"  alt="Light mode switch" class="light-toggler" width="52" height="27"></button> 
                       
                   </div> -->
                                    <span class="hidden-nav__menu-date col-12">13 de agosto de 2024</span> <a href="/"
                                        class="hidden-nav__menu-item-header col-12">Inicio</a>
                                </div>
                            </header>
                            <div class="hidden-nav__accordion">
                                <div class="hidden-nav__accordion-tab"> <input type="checkbox" id="temasdeldia"> <label
                                        class="hidden-nav__accordion-tab-label" for="temasdeldia">Temas del Dia</label>
                                    <div class="hidden-nav__accordion-tab-content">
                                        <ul class="hidden-nav__menu-items topic-day">
                                            <li class="hidden-nav__menu-item"> <a
                                                    href="https://www.c5n.com/politica/fabiola-yanez-declaracion-justicia-alberto-fernandez-violencia-genero-13-agosto-2024"
                                                    target="" title="C5N | Declara Fabiola Yañez"
                                                    alt="C5N | Declara Fabiola Yañez">
                                                    Declara Fabiola Yañez
                                                </a></li>
                                            <li class="hidden-nav__menu-item"> <a
                                                    href="https://www.c5n.com/sociedad/caso-loan-y-la-nueva-hipotesis-que-implica-un-accidente-una-escopeta-que-revelo-catalina-n169275"
                                                    target="" title="C5N | Dos meses sin Loan"
                                                    alt="C5N | Dos meses sin Loan">
                                                    Dos meses sin Loan
                                                </a></li>
                                            <li class="hidden-nav__menu-item"> <a
                                                    href="https://www.c5n.com/economia/pobreza-argentina-unicef-alerto-que-un-millon-y-medio-chicos-se-saltea-una-comida-dia-n169264"
                                                    target="" title="C5N | Informe de UNICEF"
                                                    alt="C5N | Informe de UNICEF">
                                                    Informe de UNICEF
                                                </a></li>
                                            <li class="hidden-nav__menu-item"> <a
                                                    href="https://www.c5n.com/politica/duro-posteo-javier-milei-contra-alberto-fernandez-corrupcion-violencia-genero-y-asociacion-ilicita-n169281"
                                                    target="" title="C5N | Javier Milei" alt="C5N | Javier Milei">
                                                    Javier Milei
                                                </a></li>
                                            <li class="hidden-nav__menu-item"> <a
                                                    href="https://www.c5n.com/economia/dolar-blue-hoy-cuanto-cotiza-el-13-agosto-n169272"
                                                    target="" title="C5N | Dólar blue hoy" alt="C5N | Dólar blue hoy">
                                                    Dólar blue hoy
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <ul class="hidden-nav__menu-items">
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/vivo" target="" title="C5N | En Vivo" alt="C5N | En Vivo">En Vivo</a></li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/vivo" target="" title="C5N | En Vivo"
                                        alt="C5N | En Vivo">
                                        En Vivo
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/tag/minuto-uno" target="" title="C5N | Minuto Uno" alt="C5N | Minuto Uno">Minuto Uno</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/tag/minuto-uno" target="" title="C5N | Minuto Uno"
                                        alt="C5N | Minuto Uno">
                                        Minuto Uno
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/politica" target="" title="C5N | Política" alt="C5N | Política">Política</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/politica" target="" title="C5N | Política"
                                        alt="C5N | Política">
                                        Política
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/sociedad" target="" title="C5N | Sociedad" alt="C5N | Sociedad">Sociedad</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/sociedad" target="" title="C5N | Sociedad"
                                        alt="C5N | Sociedad">
                                        Sociedad
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/economia" target="" title="C5N | Economía" alt="C5N | Economía">Economía</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/economia" target="" title="C5N | Economía"
                                        alt="C5N | Economía">
                                        Economía
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="/opinion" target="" title="C5N | Enfoque" alt="C5N | Enfoque">Enfoque</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="/opinion" target="" title="C5N | Enfoque" alt="C5N | Enfoque">
                                        Enfoque
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/autos" target="" title="C5N | C5N Autos" alt="C5N | C5N Autos">C5N Autos</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/autos" target="" title="C5N | C5N Autos"
                                        alt="C5N | C5N Autos">
                                        C5N Autos
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/ratingcero" target="" title="C5N | RatingCero" alt="C5N | RatingCero">RatingCero</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/ratingcero" target="" title="C5N | RatingCero"
                                        alt="C5N | RatingCero">
                                        RatingCero
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/deportes" target="" title="C5N | Deportes" alt="C5N | Deportes">Deportes</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/deportes" target="" title="C5N | Deportes"
                                        alt="C5N | Deportes">
                                        Deportes
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/lifestyle" target="" title="C5N | Lifestyle" alt="C5N | Lifestyle">Lifestyle</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/lifestyle" target="" title="C5N | Lifestyle"
                                        alt="C5N | Lifestyle">
                                        Lifestyle
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/astrologia" target="" title="C5N | Astrología" alt="C5N | Astrología">Astrología </a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/astrologia" target="" title="C5N | Astrología"
                                        alt="C5N | Astrología">
                                        Astrología
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/tecnologia" target="" title="C5N | Tecnología" alt="C5N | Tecnología">Tecnología</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/tecnologia" target="" title="C5N | Tecnología"
                                        alt="C5N | Tecnología">
                                        Tecnología
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/mundo" target="" title="C5N | Mundo" alt="C5N | Mundo">Mundo</a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/mundo" target="" title="C5N | Mundo" alt="C5N | Mundo">
                                        Mundo
                                    </a></li>
                                <!-- <li class="main-nav__page-link">
                       <a href="https://www.c5n.com/ultimas-noticias" target="" title="C5N | Últimas noticias" alt="C5N | Últimas noticias">Últimas noticias </a>
                   </li> -->
                                <li class="hidden-nav__menu-item">
                                    <a href="https://www.c5n.com/ultimas-noticias" target=""
                                        title="C5N | Últimas noticias" alt="C5N | Últimas noticias">
                                        Últimas noticias
                                    </a></li>
                            </ul>
                        </div> <label class="hidden-nav__close-menu" for="menuToggler"></label>
                    </div> <!-- [OBJETO] Desktop / Header, Menú Oculto } -->
                    <!-- [REGION WIDGET] Header REGION1 -Menú Lateral- } -->
                </div>
                <div class="col-4 pl-0">


                    <a class="brand-logo" href="/" rel="follow">
                        <img src="/css-custom/326/images/logo-c5n.svg"
                            data-td-src-property="/css-custom/326/images/logo-c5n.svg" alt="C5N" width="116"
                            height="36"></a>
                </div>
                <div class="col-7 pr-0">
                    <div class="header__live"><button class="switch" id="switch"
                            aria-label="Botón para cambiar del modo oscuro al modo claro y viceversa" role="button">
                            <span><i class="icon-sun"></i></span> <span><i class="icon-moon"></i></span> </button> <a
                            class="header__live-button" href="https://www.c5n.com/vivo" target="" title="C5N | En Vivo"
                            alt="C5N | En Vivo" rel="noreferrer">
                            <span></span> En Vivo
                        </a></div>
                </div> <!-- [REGION WIDGET] Header REGION3 - Boton del header } -->
                <!-- [WIDGET] Header } -->
                <!-- REGION1 ~Header~ } -->
            </div>
        </div>
</body>

</html>