<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bulletin Room</title>
    <link rel="stylesheet" href="../assets/css/nav.css">
</head>
<body>
    <main class="body-nav">
        <nav>
            <button type="button" title="Home">
                <span>Home</span>
                <span class="material-symbols-outlined" aria-hidden="true">home</span>
                <svg viewBox="0 0 300 300" aria-hidden="true">
                    <g>
                        <text fill="currentColor">
                            <textPath xlink:href="#circlePath" startOffset="50%">Home</textPath>
                        </text>
                    </g>
                </svg>
            </button>
            <button type="button">
                <span>About</span>
                <span class="material-symbols-outlined" aria-hidden="true">info</span>
                <svg viewBox="0 0 300 300" aria-hidden="true">
                    <g>
                        <text fill="currentColor">
                            <textPath xlink:href="#circlePath" startOffset="50%">About</textPath>
                        </text>
                    </g>
                </svg>
            </button>
            <button type="button">
                <span>Services</span>
                <span class="material-symbols-outlined" aria-hidden="true">linked_services</span>
                <svg viewBox="0 0 300 300" aria-hidden="true">
                    <g>
                        <text fill="currentColor">
                            <textPath xlink:href="#circlePath" startOffset="50%">Services</textPath>
                        </text>
                    </g>
                </svg>
            </button>
            <button type="button">
                <span>Contact</span>
                <span class="material-symbols-outlined" aria-hidden="true">email</span>
                <svg viewBox="0 0 300 300" aria-hidden="true">
                    <g>
                        <text fill="currentColor">
                            <textPath xlink:href="#circlePath" startOffset="50%">Contact</textPath>
                        </text>
                    </g>
                </svg>
            </button>
        </nav>
        <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 300 300"
            width="0"
            height="0"
        >
            <defs>
                <path 
                    id="circlePath"
                    d="M 150, 150 m -50, 0 a 50,50 0 0,1 100, 0 a 50,50 0 0,1 -100,0"
                />
            </defs>
        </svg>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
