<!DOCTYPE html>
<html lang="es" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="profile" content=" ">
    <meta name="copyright" content=" ">
    <meta name="description" content="Foro de noticias a nivel global con la información mas precisa en tiempo real.">
    <meta name="keywords" content="foro, noticias, clima, tiempo">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/assets/css/main.css">
    <title>The Bulletin Room</title>
</head>
<body>
    
</body>
</html>